@import '../styles/colors.module.css';

.entrance {
	flex: 1;
	display: flex;
	justify-content: center;
}

.card {
	padding: 1em;
	border: 0.1rem solid black;
	background-color: gray;
	border-radius: 0.5rem;
	;
	margin: 2rem;

	display: flex;
	flex-direction: column;
}

.join {
	composes: card;
	font-size: 2vw;
}

.create {
	font-size: 2vw;

	margin: 2rem;

}

.button {
	composes: bgPrimary accent;
	font-size: 1vw;
	margin: 1rem;
	border: 0;
	padding: 8px;
	padding: 1rem;
	border-radius: 1em;

}
