@import '../styles/colors.module.css';

.roster {
	padding: 8px;
	background-color: var(--neutral-300);
	border-radius: 3px;
	width: fit-content;
	margin: 10px;
}

.rosterTitle {
	font-size: 2em;
	color: var(--primary-700);
	text-align: center;
}

.roster ul {
	list-style-type: none;
	display: inline-flex;
	flex-direction: column;
	padding: 8px;
	background-color: var(--primary-100);
	border-radius: 3px;

}


/* Ourself */
.rosterSelf {
	color: var(--accent-700);
}

/* Other player */
.rosterOther {
	color: var(--primary-700);
}
