@import '../styles/colors.module.css';

.container {
	padding: 8px;
	background-color: var(--neutral-300);
	border-radius: 3px;
	width: fit-content;
	margin: 10px;
	display: inline-flex;
	flex-direction: column;
}

.chatDisplay {
	background-color: var(--neutral-300);
}

.chatDisplay ul {
	padding: 8px;
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.chatElement {
	display: flex;
	gap: 8px;
}

.chatElementFrom {
	color: var(--accent-700);
}

.chatElementMsg {
	color: var(--primary-300);
}

.title {
	font-size: 2em;
	color: var(--primary-700);
	text-align: center;
}

.statusBar {
	text-align: center;
	background-color: var(--primary-700);
	padding: 8px;
	color: var(--neutral-100);
}

.roster ul {
	list-style-type: none;
	display: inline-flex;
	flex-direction: column;
	padding: 8px;
	background-color: var(--primary-100);
	border-radius: 3px;

}


/* Ourself */
.rosterSelf {
	color: var(--accent-700);
}

/* Other player */
.rosterOther {
	color: var(--primary-700);
}
