@import '@styles/colors.module.css';

select {

	margin: 0;
	padding: 0;
	/* Remove default select padding */
	border: none;
	background-color: transparent;
	color: inherit;
	font: inherit;

	cursor: pointer;


}

input[type="text"] {
	margin: 0;
	padding: 0;

	border: none;
	background-color: transparent;
	color: inherit;
	font: inherit;
	outline: none;
}


.container {
	color: var(--primary-700);
}

.elementListing {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	background-color: var(--neutral-300);
	border-radius: 3px;
	padding: 8px;
}

.fieldListing {
	display: flex;
	flex-direction: column;
	background-color: var(--accent-100);
	padding: 8px;
	border-radius: 3px;
	gap: 10px;
}

.horizontalList {
	list-style-type: none;
	display: flex;
	gap: 10px;
	margin: 0;
	padding: 0;
}

.listItem {
	color: inherit;
	background-color: var(--primary-300);
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
}

.invisibleButton {
	background: transparent;
	outline: none;
	border: none;
	color: var(--neutral-100);
}

.invisibleButton:hover {
	color: var(--accent-300);
}

.rounded {
	align-self: flex-start;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	background-color: var(--accent-500);
}
