@import '../../styles/colors.module.css';

.cardContainer {
	list-style: none;
	display: flex;
	padding: 0;
}

/* This forces cards to overlap */
.cardContainer li {
	width: 75px;
}

.cardMoveRight {
	margin-left: 40px;
}

.card {
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	width: 100px;
	height: 150px;
	padding: 10px;
	background-color: var(--neutral-100);
	color: var(--accent-500);
	cursor: move;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	bottom: 0px;

	transition: bottom 0.1s, margin 0.5s;
	z-index: 1;

	/* position: absolute; */
}

.card:hover {
	/* opacity: 0.8; */
	z-index: 2;
	bottom: 5px;
}

.cardDragging {
	bottom: 30px;
	opacity: 0.6;
	z-index: 0;
}

.card:select {}

.symbol {
	display: block;
}

/* TODO: switch from aligning text to aligning block itself*/
.rank {
	composes: symbol;
	text-align: right;
}

.suit {
	composes: symbol;
	text-align: left;
}
